body
{
	background-color: rgba(196, 194, 81, 0.521);
    padding: 15px;
}
form
{
	background-color: rgb(255, 254, 224);
}
fieldset
{
	border: 1px solid rgb(205, 65, 0);
    margin-top: 15px;
}
label
{
	color: rgb(128, 128, 128);
}
legend
{
	color: rgb(255, 72, 0);
	font-weight: bold;
}
img
{
    position: absolute;
    top: 40px; right: 40px;
}

