<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Sistema de Administração de Serviços - Clientes</title>
		</head>
	<body>
	<form name="registroCliente" id="registroCliente">
		<fieldset>
			<legend>Dados do Cliente</legend>
			<label for="nomeEmpresa">Nome do Cliente</label><br>
			<input type="text" size="60" id="nomeEmpresa" name="nomeEmpresa" required><br>
			<label for="cnpj">CNPJ</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="ie">Inscrição Estadual</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="ie">Inscrição Municipal</label><br>
			<input type="text" size="15" id="cnpj" name="cnpj" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" size="15" id="iEstadual" name="iEstadual" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;
			<input type="text" size="8" id="iMunicipal" name="iMunicipal" required><br><br>
		</fieldset><br>
			
		<fieldset>
			<legend>Endereco</legend>
			<label for="cep">CEP</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			<label for="numero">Número</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="complemento">Complemento</label><br>

			<input type="text" size="8" id="cep" name="cep" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" size="10" id="numero" name="numero" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" size="20" id="complemento" name="complemento" required><br>

			<label for="tipologradouro">Tipo Logr.</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="logradouro">Logradouro</label><br>
			<select name="tipologradouro" id="tipologradouro" required>
				<option value="rua">Rua</option>
				<option value="avenida">Avenida</option>
				<option value="viela">Viela</option>
				<option value="travessa">Travessa</option>
			</select>&nbsp;&nbsp;			
			<input type="text" size="62" id="logradouro" name="logradouro" required><br>

			<label for="bairro">Bairro</label><br>
			<input type="text" size="75" id="bairro" name="bairro" required><br>

			<label for="cidade">Cidade</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="uf">UF</label><br>
			<input type="text" size="60" id="cidade" name="cidade" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select name="uf" id="uf" required>
				<option value="ac">AC</option>
				<option value="al">AL</option>
				<option value="am">AM</option>
				<option value="ap">AP</option>
				<option value="ba">BA</option>
				<option value="ce">CE</option>
				<option value="df">DF</option>
				<option value="es">ES</option>
				<option value="go">GO</option>
				<option value="ma">MA</option>
				<option value="mg">MG</option>
				<option value="ms">MS</option>
				<option value="mt">MT</option>
				<option value="pa">PA</option>
				<option value="pb">PB</option>
				<option value="pe">PE</option>
				<option value="pi">PI</option>
				<option value="pr">PR</option>
				<option value="rj">RJ</option>
				<option value="rn">RN</option>
				<option value="ro">RO</option>
				<option value="rr">RR</option>
				<option value="rs">RS</option>
				<option value="sc">SC</option>
				<option value="se">SE</option>
				<option value="sp">SP</option>
				<option value="to">TO</option>
			</select><br>						
			<label for="email">Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="tipotel">Telefone</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="telefone">Numero</label><br>
			<input type="text" size="41" id="email" name="email">&nbsp;
			<select name="tipotel" id="tipotel" required>
				<option value="celular">Celular</option>
				<option value="residencial">Residencial</option>
				<option value="comercial">Comercial</option>
			</select>&nbsp;
			<input type="text" size="12" id="telefone" name="telefone"><br><br>
		</fieldset><br>

		<fieldset>
			<legend>Sócios</legend>
			<label for="clientesCPF">CPF</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesctps">CTPS</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesctpsSerie">Serie</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesctpsUF">UF</label><br>

			<input type="text" size="15" id="clientesCPF" name="clientesCPF" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" size="15" id="clientesctps" name="clientesctps" required> &nbsp;&nbsp;
			<input type="text" size="5" id="clientesctpsSerie" name="clientesctpsSerie" required> &nbsp;&nbsp;&nbsp;&nbsp;
			<select name="clientesctpsUF" id="clientesctpsUF" required>
				<option value="ac">AC</option>
				<option value="mg">MG</option>
				<option value="rj">RJ</option>
				<option value="sp">SP</option>
				<option value="to">TO</option>
			</select><br>

			<label for="clientesrg">RG</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesrgOrgao">Órgão Expedidor</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesrgUF">UF</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesrgDataExpedicao">Data de Expedição</label><br>

			<input type="text" size="15" id="clientesrg" name="clientesrg" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" size="10" id="clientesrgOrgao" name="clientesrgOrgao" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<select name="clientesufRG" id="clientesufRG" required>
				<option value="ac">AC</option>
				<option value="al">AL</option>
				<option value="am">AM</option>
				<option value="ap">AP</option>
				<option value="ba">BA</option>
				<option value="ce">CE</option>
				<option value="df">DF</option>
				<option value="es">ES</option>
				<option value="go">GO</option>
				<option value="ma">MA</option>
				<option value="mg">MG</option>
				<option value="ms">MS</option>
				<option value="mt">MT</option>
				<option value="pa">PA</option>
				<option value="pb">PB</option>
				<option value="pe">PE</option>
				<option value="pi">PI</option>
				<option value="pr">PR</option>
				<option value="rj">RJ</option>
				<option value="rn">RN</option>
				<option value="ro">RO</option>
				<option value="rr">RR</option>
				<option value="rs">RS</option>
				<option value="sc">SC</option>
				<option value="se">SE</option>
				<option value="sp">SP</option>
				<option value="to">TO</option>
			</select>&nbsp;&nbsp;&nbsp;
			<input type="date" id="clientesdataExpedicaoRG" name="clientesdataExpedicaoRG" required><br>

			<label for="clientescentroCusto">Centro de Custo:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label for="clientesdepartamento">Departamento</label><br>
			<select name="clientescentroCusto" id="clientescentroCusto" required>
				<option value="geral">001 Geral </option>
				<option value="outros">002 Outros</option>
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
			<select name="clientesdepartamento" id="clientesdepartamento" required>
				<option value="polivig">001 Polivig</option>
				<option value="outro">002 Outro</option>
			</select><br><br>
		</fieldset><br><br>

		<input type="button" value="Testar" onclick="teste()">
		<input type="submit" value="Enviar">
		<input type="button" name="gravar" value="Gravar">
	</form>
	</body>
</html>


<!--
	<script type="text/javascript">
	$("#cep").focusout(function(){
		alert("VCEP");
		//Início do Comando AJAX
		$.ajax({
			//O campo URL diz o caminho de onde virá os dados
			//É importante concatenar o valor digitado no CEP
			url: 'https://viacep.com.br/ws/'+$(this).val()+'/json/unicode/',
			//Aqui você deve preencher o tipo de dados que será lido,
			//no caso, estamos lendo JSON.
			dataType: 'json',
			//SUCESS é referente a função que será executada caso
			//ele consiga ler a fonte de dados com sucesso.
			//O parâmetro dentro da função se refere ao nome da variável
			//que você vai dar para ler esse objeto.
			success: function(resposta){
				//Agora basta definir os valores que você deseja preencher
				//automaticamente nos campos acima.
				$("#logradouro").val(resposta.logradouro);
				$("#complemento").val(resposta.complemento);
				$("#bairro").val(resposta.bairro);
				$("#cidade").val(resposta.localidade);
				$("#uf").val(resposta.uf);
				//Vamos incluir para que o Número seja focado automaticamente
				//melhorando a experiência do usuário
				$("#numero").focus();
			}
		});
	});
</script>
-->
